{% extends 'base.html.twig' %}

{% block body %}
    <h1>Úprava návrhu na termín {{ term.day |date("D d. m. Y") }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <a href="{{ path('team_game', {'id': term.game.id}) }}">Zpět na zápas</a>
        <input type="submit" value="Uložit změny" />
    {{ form_end(edit_form) }}

{% endblock %}
