{% extends 'base.html.twig' %}

{% block body %}
    <h1>Úprava návrhu na termín {{ term.day |date("D d. m. Y") }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('team_game', {'id': term.game.id}) }}">Zpět na zápas</a>
        </li>
    </ul>
{% endblock %}
