{% extends 'base.html.twig' %}

{% block body %}
    <h1>Přidání návrhu na termín {{ day |date("D d. m. Y") }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('team_game', {'id': game.id}) }}">Zpět na zápas</a>
        <input type="submit" value="Vytvořit návrh" />
    {{ form_end(form) }}
    
{% endblock %}
