{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Aresult1</th>
                <td>{{ game.aResult1 }}</td>
            </tr>
            <tr>
                <th>Aresult2</th>
                <td>{{ game.aResult2 }}</td>
            </tr>
            <tr>
                <th>Bresult1</th>
                <td>{{ game.bResult1 }}</td>
            </tr>
            <tr>
                <th>Bresult2</th>
                <td>{{ game.bResult2 }}</td>
            </tr>
            <tr>
                <th>Done</th>
                <td>{% if entity.done %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Round</th>
                <td>{{ game.round }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
