{% extends "::base.html.twig" %}

{% block title %}PalufTeamBundle:Game:index{% endblock %}

{% block body %}
    <h1>{{ game.teamA.name }} vs {{ game.teamB.name }}</h1>
    <h2>{{ game.round }}. kolo ({{ tournament.start |date('d.m.Y') }} - {{ tournament.end |date('d.m.Y') }})</h2>

    <h3>Datum a čas</h3>

    <style>
        .terms td{
            padding-top: 1px !important;
            padding-bottom: 1px !important;;
        }
        .pointerhand {
            cursor: hand;
            cursor: pointer;
        }
    </style>

    {% if game.finalTerm %}
        <div class="alert alert-success">
            Potvrzený termín: {{ game.finalTerm.day|date("D d. m. Y") }} od {{ game.finalTerm.start|date("H:i") }} do {{ game.finalTerm.end|date("H:i") }}<br>
            Místo: {{ game.finalTerm.place }} {{ game.finalTerm.gps }}
            <a href="{{ path("term_unconfirm", {"id": game.finalTerm.id}) }}" onclick="return confirm('Opravdu chcete zrušit potvrzení termínu?')" class="pull-right">Zrušit potvrzení</a>
        </div>
    {% else %}

        <table class="table">
            {% set i = 0 %}
            {% for x in range(tournament.start|date('U'), tournament.end|date('U'), 86400 ) %}
                {% if i % 7 == 0 %}
                    {% if i > 0 %}</tr>{% endif %}
                    <tr>{% endif %}
                {% set i = i+1 %}
                <td style="padding: 0">
                    <table class="table">
                        <tr><th>{{ x|date('D d.m.') }}
                            </th>
                        </tr>
                        <tr>
                            <td class="table-bordered" style="padding:0">
                                <table class="table terms table-hover">
                                    {% for t in terms %}
                                        {% if t.day|date("U") == x %}
                                            {% set ismy = t.team.id == team.id ? true : false %}
                                            {% set color = ismy ? "warning" : "info" %}
                                            <tr class="{{ color }} pointerhand"><td><a href="#" style="color: #000; text-decoration: none; width: 100%; margin: 0; padding: 0; display: block"
                                                        data-toggle="popover" data-trigger="focus" data-content="
                                                <table class='table'><tr class='{{ color }}'><th>Čas</th><td>
                                                {{ t.start|date("H:i") }} - {{ t.end|date("H:i") }}
                                                </td></tr><tr class='{{ color }}'><th>Místo</th><td>
                                                {{ t.place }}
                                                </td></tr><tr class='{{ color }}'><th>GPS</th><td>
                                                {{ t.gps }}
                                                </td></tr><tr class='{{ color }}'><td colspan='100'>&nbsp;</td></tr><tr class='{{ color }}'><th>Zadal</th><td>
                                                {{ t.team.name }}
                                                </td></tr><tr class='{{ color }}'><th>Počet hráčů</th><td>
                                                {{ t.count }}
                                                </td></tr></table>
                                                {% if ismy %}
                                                    <a href='{{ path("term_delete", {'id':t.id}) }}' class='btn btn-danger'><span class='glyphicon glyphicon-trash'></span> Smazat</a>
                                                    <a href='{{ path("term_edit", {'id':t.id}) }}' class='btn btn-warning'><span class='glyphicon glyphicon-pencil'></span> Upravit</a>
                                                {% else %}
                                                    <a onclick='return confirm(\'Opravdu chcete potvrdi tento termín soupeři?\')' href='{{ path("term_confirm", {'id':t.id}) }}' class='btn btn-success'><span class='glyphicon glyphicon-ok'></span> Potvrdit tento termín</a>
                                                {% endif %}
                                                "
                                                        >{{ t.start|date("H:i") }} - {{ t.end|date("H:i") }}
                                                    {% if ismy %}
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    {% else %}
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    {% endif %}
                                                </a></td></tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                                <a href="{{ path("term_new", {'game': game.id, 'day':x|date("Y-m-d")}) }}" class="label label-success pull-right"><big>+</big></a>
                            </td>
                        </tr>
                    </table>
                </td>


                {% endfor %}
            </tr>

        </table>

    {% endif %}

    <h3>Výsledek</h3>
    <table class="table">
        <tr>
            <td class="table-bordered">
                {{ form_start(score_form) }}
                <label>
                    Tým
                    {% if team.id == game.teamA.id %}
                        {{ team.name }}
                    {% else %}
                        {{ game.teamA.name }}
                    {% endif %}

                    {{ form_errors(score_form.resultA) }}
                    {{ form_widget(score_form.resultA) }}
                </label>

                :

                <label>
                    Tým
                    {% if team.id == game.teamB.id %}
                        {{ team.name }}
                    {% else %}
                        {{ game.teamB.name }}
                    {% endif %}

                    {{ form_errors(score_form.resultB) }}
                    {{ form_widget(score_form.resultB) }}
                </label>

                {{ form_row(score_form.submit) }}
                {{ form_end(score_form) }}
            </td>
            <td>

            </td>
            {% if team.id == game.teamA.id %}
                {% if game.bResult1 != null %}
                    <td class="table-bordered">
                        Výsledek zadaný soupeřem: {{ game.bResult1 }}:{{ game.bResult2 }}
                        <a class="btn btn-success btn-lg" href="{{ path('team_game_confirm', { 'id': game.id }) }}">Potvrdit soupeřův výsledek</a>
                    </td>
                {% endif %}
            {% else %}
                {% if game.aResult1 != null %}
                    <td class="table-bordered">
                        Výsledek zadaný soupeřem: {{ game.aResult1 }}:{{ game.aResult2 }}
                        <a class="btn btn-success btn-lg" href="{{ path('team_game_confirm', { 'id': game.id }) }}">Potvrdit soupeřův výsledek</a>
                    </td>
                {% endif %}
            {% endif %}
        </tr>
    </table>


    <h3>Komentáře</h3>

    {{ form_start(comment_form) }}
    {{ form_widget(comment_form) }}
    {{ form_end(comment_form) }}

    <hr>

    {% for comment in game.comments %}
        <p>
            {% if comment.author.id == team.id %}
                <span class="label label-warning">{{ team.name }}</span>
            {% else %}
                <span class="label label-primary">{{ comment.author.name }}</span>
            {% endif %}
            <span class="glyphicon glyphicon-calendar"></span>
            {{ comment.datetime|date('d. m. Y H:i') }}
        </p>
        <p>
            {{ comment.text }}
        </p>
        <hr>
    {% endfor %}

    <script>
        $(function(){
            $('.terms td a').popover({
                html: "on"
            });
        });
    </script>
{% endblock %}
