{% extends "::base.html.twig" %}

{% block title %}PalufTeamBundle:Game:index{% endblock %}

{% block body %}
    <h1>{{ game.teamA.name }} vs {{ game.teamB.name }}</h1>
    <h2>{{ tournament.name }} ({{ tournament.start |date('d.m.Y') }} - {{ tournament.end |date('d.m.Y') }})</h2>

    <h3>Datum a čas</h3>
    <p>Pomocí tlačítka + můžete přidat návrh termínu. Po kliknutí na vlastní návrh jej můžete editovat.
        Po kliknutí na návrh soupeře jej můžete odsouhlasit.</p>

    <style>
        .terms td{
            padding-top: 1px !important;
            padding-bottom: 1px !important;;
        }
    </style>

    <table class="table">
        {% set i = 0 %}
        {% for x in range(tournament.start|date('U'), tournament.end|date('U'), 86400 ) %}
            {% if i % 7 == 0 %}
                {% if i > 0 %}</tr>{% endif %}
                <tr>{% endif %}
            {% set i = i+1 %}
            <td style="padding: 0">
                <table class="table">
                    <tr><th>{{ x|date('D d.m.') }}
                        </th>
                    </tr>
                    <tr>
                        <td class="table-bordered" style="padding:0">
                            {% for t in terms %}
                                
                            {% endfor %}
                            <table class="table terms table-hover">
                                <!--
                                <tr class="warning"><td
                                            data-toggle="popover" data-content="
                                    <table class='table'><tr class='warning'><th>Čas</th><td>
                                    16.30 - 20.30
                                    </td></tr><tr class='warning'><th>Míst</th><td>
                                    Stromovka
                                    </td></tr><tr class='warning'><td colspan='100'>&nbsp;</td></tr><tr class='warning'><th>Zadal</th><td>
                                    DREAM TEAM
                                    </td></tr><tr class='warning'><th>Počet hráčů</th><td>
                                    12
                                    </td></tr></table>
                                    <a href='' class='btn btn-danger'><span class='glyphicon glyphicon-trash'></span> Smazat</a>
                                    <a href='' class='btn btn-warning'><span class='glyphicon glyphicon-pencil'></span> Upravit</a>
                                    "
                                            >9.00 - 12.00</td></tr>
                                <tr class="info"><td
                                            data-toggle="popover" data-content="
                                    <table class='table'><tr class='info'><th>Čas</th><td>
                                    16.30 - 20.30
                                    </td></tr><tr class='info'><th>Míst</th><td>
                                    Stromovka
                                    </td></tr><tr class='info'><td colspan='100'>&nbsp;</td></tr><tr class='info'><th>Zadal</th><td>
                                    DRUHEJ DREAM TEAM
                                    </td></tr><tr class='info'><th>Počet hráčů</th><td>
                                    12
                                    </td></tr></table>
                                    <a href='' class='btn btn-success'><span class='glyphicon glyphicon-ok'></span> Potvrdit termín</a>
                                    "
                                            >9.00 - 12.00</td></tr>
                                            -->
                            </table>
                            <a href="?s=term-add" class="label label-success pull-right"><big>+</big></a>
                        </td>
                    </tr>
                </table>
            </td>


            {% endfor %}
        </tr>

    </table>

    <h3>Výsledek</h3>
    <table class="table">
        <tr>
            <td class="table-bordered">
                FORM
            </td>
            <td>

            </td>
            <td class="table-bordered">
                souper jeste nezadal, pokud nexadal, jiank vypsat, co tam zadal a pokud nemame jeste zadano
                <a class="btn btn-success btn-lg">Potvrdit soupeřův výsledek</a>
            </td>
        </tr>
    </table>


    <h3>Komentáře</h3>

    {{ form_start(comment_form) }}
    {{ form_widget(comment_form) }}
    {{ form_end(comment_form) }}

    <hr>

    {% for comment in game.comments %}
        <p>
            {% if comment.author.id == team.id %}
                <span class="label label-primary">{{ team.name }}</span>
            {% else %}
                <span class="label label-warning">{{ comment.author.name }}</span>
            {% endif %}
            <span class="glyphicon glyphicon-calendar"></span>
            {{ comment.datetime|date('d. m. Y H:i') }}
        </p>
        <p>
            {{ comment.text }}
        </p>
        <hr>
    {% endfor %}

    <script>
        $(function(){
            $('.terms td').popover({
                "html": "on",
                // "trigger": "focus",  proc to nejde vi buh
            });
        });
    </script>
{% endblock %}
