<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}Paluf.cz  </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/jquery.validate.min.js"></script>
    <style>
        .topmenu {
            margin: 15px 0;
            text-align: right;
        }
        label.error {
            color: #ff0000;
            font-weight: bold;
        }
        label.required:after {
            content: " (* povinná položka)";
            color: #ff0000;
            font-weight: bold;
            font-size: 80%;
        }
    </style>
</head>

<body>

<div class="container">

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="col-xs-12 topmenu">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                Přihlášen jako: <strong>{{ app.user.username }}</strong>
                {% if is_granted("ROLE_ADMIN") %}
                    | <a class="link" href="{{ path('admin_landingpage') }}">Administrace PALUF.cz</a>
                {% endif %}
                | <a class="link" href="{{ path('logout') }}">Odhlásit se</a>
            {% else %}
                <a href="{{ path('login_route') }}">Přihlásit se</a>
                | <a href="{{ path('registration_page') }}">Zaregistrovat tým</a>
            {% endif %}
        </div>
    </div>
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Zobrazit/skrýt menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("landingpage") }}">Paluf.cz - Pražská amatérslká liga ultimate frisbee</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{ render(controller(
                        'PalufBundle:Page:navbar',
                        {}
                    )) }}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="col-xs-12">
        {% block beforebody %} {% endblock %}
        {% block body %} {% endblock %}
        {% block afterbody %} {% endblock %}
    </div>
</div>

</body>
</html>
