{% extends "::base.html.twig" %}

{% block title %}PalufTeamBundle:Tournament:index{% endblock %}

{% block body %}
    <h1>Plánování zápasů</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Team A</th>
            <th>Team B</th>
            <th>Datum</th>
            <th>Čas</th>
            <th>Místo</th>
            <th>Skóre</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.teamA.name }}</td>
                <td>{{ game.teamB.name }}</td>
                <td>
                    {% if game.finalTerm %}
                        {{ game.finalTerm.day.format('d. m. Y') }}
                    {% else %}
                        ?
                    {% endif %}
                </td>
                <td>
                    {% if game.finalTerm %}
                        {{ game.finalTerm.start.format('H:i') }} - {{ game.finalTerm.end.format('H:i') }}
                    {% else %}
                        ?
                    {% endif %}
                </td>
                <td>
                    {% if game.finalTerm %}
                        {{ game.finalTerm.place }}
                    {% else %}
                        ?
                    {% endif %}
                </td>
                <td>
                    {% if game.aResult1 and game.bResult1 and game.aResult1 == game.bResult1 and game.aResult2 == game.bResult2 %}
                        {{ game.aResult1 }} : {{ game.aResult2 }}
                    {% else %}
                        ? : ?
                    {% endif %}
                </td>
                <td>
                    {% if not game.done %}
                        <a href="{{ path('team_game', { 'id': game.id }) }}">
                            {% if not game.finalTerm %}
                                Domluvit termín 
                            {% else %}
                                Zadat skóre
                            {% endif %}
                        </a>
                    {% else %}
                        Zápas byl již odehrán.
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
