{% extends "PalufAdminBundle::base.html.twig" %}

{% block title %}PalufAdminBundle:Tournament:view{% endblock %}

{% block body %}
    <h1>tournament</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ tournament.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ tournament.name }}</td>
        </tr>
        <tr>
            <th>Start</th>
            <td>{{ tournament.start |date('d.m.Y') }}</td>
        </tr>
        <tr>
            <th>End</th>
            <td>{{ tournament.end |date('d.m.Y') }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tournament_list') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_tournament_edit', { 'id': tournament.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
